<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Soundmarks</key><array><string>Standing</string><string>Turn_main</string><string>Logo</string></array><key>Gaits</key><dict><key>neu_2</key><array><string>mignon.wav</string></array><key>neu_1</key><array><string>pacesound.wav</string><string>woosh.wav</string></array></dict></dict></plist>