<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Soundmarks</key><array><string>Standing</string><string>Turn_main</string><string>Logo</string></array><key>Gaits</key><dict><key>dimens_1</key><array><string>352719__dalesome__woosh-stick-swung-in-the-air</string></array></dict><key>Layers</key><dict/></dict></plist>